@media (max-width: 600px) {
    p {
        font-size: small;
    }

    h1 {
        font-size: 180%;
    }
}

@media (min-width: 600px) {
    p {
        font-size: medium;
    }

    h1 {
        font-size: 230%;
    }
}

h1{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: rgb(6, 38, 6);
    text-align: center;
    margin-bottom: 15px;
}

p{
    font-family: 'Source Code Pro', monospace;
    color: rgb(6, 38, 6);
    width: 50%;
    margin: 15px auto 15px auto;
}

body{
    background-color: rgb(203, 237, 203);
}

div{
    text-align: center;
}

img{
    border-radius: 15px;
    width: 52vw;
}

input{
    font-family: 'Source Code Pro', monospace;
    width: 30%;
    height: 18px;
    margin: 20px 3px 0px 3px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 10pt;
    background-color: rgb(234, 248, 239);
}

button{
    font-family: 'Source Code Pro', monospace;
    height: 38px;
    border-radius: 5px;
    border: none;
    padding: 0px 20px 0px 20px;
    background-color: rgb(6, 38, 6);
    color: rgb(203, 237, 203);
}

#result{
    font-weight: bold;
}

#val{
    width: 12%;
}